@import './navbar.css';
@import './herosection.css';
@import './AboutUs.css';
@import './visi.css';
@import './produkService.css';
@import './bookingNow.css';

* {
  padding: 0;
  margin: 0;
}

main {
  padding-top: 60px; /* Sesuaikan dengan tinggi navbar */
}

html {
  scroll-behavior: smooth;
}
