.tujuan {
  margin: 20px auto;
  box-sizing: border-box;
  background-color: rgb(200, 215, 243);
}

.visi-misi {
  width: 90%;
  margin: auto;
}

.visi {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.visi-misi h3 {
  font-weight: bold;
  font-family: 'Poppins';
  text-align: center;
  color: rgb(5, 95, 230);
}

.visi-misi p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.misi {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

@media screen and (min-width: 1000px) {
  .tujuan {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .tujuan {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgb(200, 215, 243);
  }
  .visi-misi {
    width: 40%;
    margin: auto;
    flex-direction: column;
  }
}
